{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-container">
    <form action="" method="POST">
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="">
    </form>
</div>

{% endblock %}