.form-group .form-control[type=file] {
    opacity: 1;
    position: relative;
}

.form-group textarea.form-control {
    background-color: #fbfbfb;
}

ul.errorlist {
    list-style: none;
    color: #ff3636;
}