{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<div class="panel-header panel-header-sm"></div>

<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="title mb-0 text-center">Edit Account</h3>
                </div>
                <hr class="mb-0">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">

                        <!-- GENERAL -->
                        <h5 class="text-secondary text-center">General</h5>
                        <div class="row col-md-8 offset-md-2">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="Company" name="first_name" value="{{ user.first_name }}">
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ user.last_name }}">
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row col-md-8 offset-md-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{ user.username }}">
                                    {{ form.username.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-8 offset-md-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" placeholder="user@example.com" name="email" value="{{ user.email }}">
                                    {{ form.email.errors }}
                                </div>
                            </div>
                        </div>
                        <hr class="col-8 offset-2 bg-primary">

                        <!-- PASSWORD -->
                        <h5 class="text-secondary text-center">Password</h5>
                        <div class="row col-md-8 offset-md-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">Current Password</label>
                                    <input type="password" class="form-control" name="current_password">
                                    {{ form.current_password.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-8 offset-md-2">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input type="password" class="form-control" name="password">
                                    {{ form.password.errors }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label for="passwordConfirm">Confirm New Password</label>
                                    <input type="password" class="form-control" name="password_confirm">
                                    {{ form.password_confirm.errors }}
                                </div>
                            </div>
                        </div>
                        <hr class="col-8 offset-2 bg-primary">

                        <!-- PROFILE -->
                        <h5 class="text-secondary text-center">Profile</h5>
                        <div class="row col-md-8 offset-md-2">
                            <div class="row pl-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="profile-picture">Profile Picture</label>
                                        <input class="form-control" type="file" name="picture" id="profile-picture">
                                        {{ form.picture.errors }}
                                    </div>
                                </div>
                                <!-- Profile pic demo -->
                                <!-- <div class="profile-pic-demo col-2 offset-1 border p-1">
                                    {% if user.profile.picture %}
                                    <img class="w-100 h-100" style="object-fit: contain;" src="{{ user.profile.picture }}" alt="{{ user.get_full_name }}'s profile picture.">
                                    {% else %}
                                    <img class="w-100 h-100" style="object-fit: contain;" src="{% static 'img/default-avatar.png' %}" alt="{{ user.get_full_name }}'s profile picture.">
                                    {% endif %}
                                </div> -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea class="form-control" name="bio" id="bio" placeholder="About me..."></textarea>
                                    {{ form.bio.errors }}
                                </div>
                            </div>
                        </div>
                        <hr class="col-8 offset-2 bg-primary">
                        
                        <button class="btn btn-primary btn-round d-block mx-auto my-4">Save</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="profile-demo col-md-4">
            {% include "dashboard/profile-card.html" with user=user %}
            <button class="btn btn-primary btn-round mt-0 mx-auto d-block" onclick="window.location = '/logout'">Logout</button>
        </div>
    </div>
</div>

{% endblock content %}
