{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
{% endblock css %}

{% block content %}

<div class="panel-header panel-header-md">
    <h1 class="welcome-text">Welcome, {{ request.user.first_name  }}</h1>
</div>
<div class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Personal</h5>
                    <h4 class="card-title">Devices</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h4>More coming soon...</h4>
                        <!-- <table class="table">
                            <thead class=" text-primary">
                                <th>Name</th>
                                <th>IP Address</th>
                                <th class="text-right">Status</th>
                            </thead>
                            <tbody>
                                {% if devices %}
                                    {% for device in devices %}
                                        <tr>
                                            <td>{{ device.name }}</td>
                                            <td>{{ device.ip_address }}</td>
                                            <td class="text-right">{{ device.is_live }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">
                                        No Devices
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table> -->
                    </div>
                </div>
                <!-- <div class="card-footer ">
                    <a href="/dashboard/personal">View all</a>
                </div> -->
            </div>
        </div>

        <!-- <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">Social</h5>
                    <h4 class="card-title">Requests</h4>
                </div>
                <div class="card-body ">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-left request-text">Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="" class="btn btn-success btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                            <i class="now-ui-icons ui-1_check"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer ">
                    <a href="/dashboard/social/requests">View all</a>
                </div>
            </div>
        </div> -->

    </div>
</div>

{% endblock content %}