{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="panel-header panel-header-sm"></div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Your Devices</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th>IP Address</th>
                                    <th>Is Live</th>
                                    <th>Keys</th>
                                    <th class="text-right">Last Update</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% if devices %}
                                {% for device in devices %}
                                    <tr>
                                        <td>{{ device.name }}</td>

                                        {% if device.ip_address %}
                                            <td>{{ device.ip_address }}</td>
                                        {% else %}
                                            <td>Not yet set up</td>
                                        {% endif %}

                                        {% if device.is_live %}
                                            <td>
                                                <i class="text-success now-ui-icons ui-1_check"></i>
                                            </td>
                                        {% elif device.is_live == False%}
                                            <td>
                                                <i class="text-danger now-ui-icons ui-1_simple-remove"></i>
                                            </td>
                                        {% else %}
                                            <td>?</td>
                                        {% endif %}

                                        <td>
                                            <button
                                              class="btn btn-outline-default btn-round btn-sm"
                                              data-toggle="modal"
                                              data-target="#keysModal"
                                              data-name="{{ device.name }}"
                                              data-pubkey="{{ device.public_key }}"
                                              data-privkey="{{ device.private_key }}">

                                                View Keys <i class="now-ui-icons objects_key-25"></i>
                                            </button>
                                        </td>
                                        
                                        <td class="text-right">{{ device.updated_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">No Devices</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="5">
                                    <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#newDeviceModal">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newDeviceModal" tabindex="-1" role="dialog" aria-labelledby="newDeviceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="POST" action="/dashboard/personal/add-device">
            <div class="modal-header">
                <h5 class="modal-title" id="newDeviceModalLabel">New Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="device-name">Name</label>
                    <input type="text" name="name" class="form-control" id="device-name">
                    {{ new_device_form.name.errors }}
                </div>
                <div class="form-group">
                    <label for="device-description">Description</label>
                    <textarea name="description" class="form-control" id="device-description" rows="2"></textarea>
                    {{ new_device_form.description.errors }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="keysModal" tabindex="-1" role="dialog" aria-labelledby="keysModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="keysModalLabel"><span class="device-name"></span>'s Keys</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <h6 class="ml-2 my-1">Public Key</h6>
                <p class="form-control border border-dark p-2 mb-0 text-secondary public-key" onclick="copyKey(this)"></p>
                <small class="ml-2 mb-4">Click to copy to clipboard</small>
            </div>
            <div class="form-group">
                <h6 class="ml-2 my-1">Private Key</h6>
                <p class="form-control border border-dark p-2 mb-0 text-secondary private-key" onclick="copyKey(this)"></p>
                <small class="ml-2 mb-4">Click to copy to clipboard</small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
    var hasModalErrors = "{{ has_errors }}"
    window.onload = function () {
        if (hasModalErrors == 'yes') {
            $('#newDeviceModal').modal('show')
        }
        $("#keysModal").on("show.bs.modal", function(event) {
            var modal = $(this);
            var button = $(event.relatedTarget);
            var name = modal.find(".device-name");
            var publicKey = modal.find(".public-key");
            var privateKey = modal.find(".private-key");
            name.text(button.data("name"));
            publicKey.text(button.data("pubkey"));
            privateKey.text(button.data("privkey"));
        })
    }
    function copyKey(keyElement) {
        keyElement.nextElementSibling.classList.add('text-success')
        keyElement.nextElementSibling.innerHTML = "Copied to clipboard.";
        window.navigator.clipboard.writeText(keyElement.innerHTML);
        setTimeout(() => {
            keyElement.nextElementSibling.classList.remove('text-success');
            keyElement.nextElementSibling.innerHTML = "Click to copy to clipboard.";
        }, 1600);
    }
</script>

{% endblock content %}
