{% load static %}

<div class="card card-user">
    <div class="image"></div>
    <div class="card-body">
        <div class="author">
            {% if user.profile.picture %}
                <img src="{{ user.profile.picture.url }}" style="max-width: 200px; max-height: 200px;" alt="{{ user.get_full_name }}'s profile picture.">
            {% else %}
                <img src="{% static 'img/default-avatar.png' %}" alt="{{ user.get_full_name }}'s profile picture.">
            {% endif %}
            <h5 class="title text-primary">{{ user.get_full_name }}</h5>
            <p class="description">
                {{ user.username }}
            </p>
        </div>
        <p class="description text-center">
            {% if user.profile.bio %}
                {{ user.profile.bio }}
            {% else %}
                User has no bio.
            {% endif %}
        </p>
    </div>
    <hr>
    <div class="button-container">
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="now-ui-icons ui-2_favourite-28"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="now-ui-icons users_single-02"></i>
        </button>
    </div>
</div>